<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Keep only the latest Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Swing By Home</title>
</head>
<body>
    

    <!-- Top Bar -->
    <div class="topbar">
        <div class="topbar-nav">
            <div class="d-flex justify-content-between" style="gap: 15px;"> <!-- Adjust the gap size as needed -->
                <button id="sidebarCollapse" class="btn btn-dark btn-lg" aria-label="Toggle sidebar">
                    <i class="fas fa-bars"></i>
                </button>
                
                <button id="sidebarBack" class="btn btn-dark btn-lg" style="margin-right: 10px;" onclick="goBack()">
                    <i class="fas fa-arrow-left"></i>
                </button>
            </div>
            
            
            <!-- No margin-right for the last item -->
            
            <!-- More links with icons -->
        </div>
        <div class="topbar-right">
            <!-- Conditionally display login or logout -->
            <div class="dropdown">
                <button class="btn btn-success dropdown-toggle text-blue" type="button" id="storeDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-store store-icon"></i>
                    {% if current_user.is_authenticated %}
                        {% if get_selected_store_for_user(current_user) %}
                            <span>{{ get_selected_store_for_user(current_user).name }}</span>
                        {% else %}
                            <span>Select Store</span>
                        {% endif %}
                    {% else %}
                        <span>Guest</span>
                    {% endif %}
                </button>
                {% if current_user.is_authenticated %}
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="storeDropdown">
                        {% for store in current_user.stores.all() %}
                            <li><a class="dropdown-item {% if get_selected_store_for_user(current_user) and store.id == get_selected_store_for_user(current_user).id %}active{% endif %} text-white" href="{{ url_for('users.select_store', store_id=store.id) }}">{{ store.name }}</a></li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
        
    </div>
    
    

    









    <!-- Flex container for sidebar and main content -->
    <div class="main-container">
        <!-- Sidebar -->
            {% include 'sidebar.html' %}

        <!-- Main Content Area -->
        <main class="main-content">
            <style>
                #alert-container {
            position: fixed; /* Or 'absolute' if it fits better your layout */
            top: 10px; /* Distance from the top of the viewport */
            left: 50%; /* Center the alerts horizontally */
            transform: translateX(-50%); /* Adjusts the horizontal positioning to truly center it */
            z-index: 1050; /* Ensure it's above other content */
            width: auto;
            max-width: 80%; /* Adjust based on your design preferences */
        }
        
            </style>

            <!-- Flashed Messages -->
            <div id="alert-container">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                                {{ message }}
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>

            {% block content %}
                <!-- Page specific content will go here -->
            {% endblock %}
        </main>
    </div>

    <!-- Footer -->
    <footer class="footer mt-auto py-3">
        <p class="text-center">&copy; 2024 Swing By, Inc</p>
    </footer>

    <!-- Bootstrap Script and its dependencies -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{{ url_for('static', filename='base.js') }}"></script>

</body>
</html>
