{% extends "base.html" %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daily Sales Entry</title>
</head>
<body>
    <div class="container">
        <form method="POST" action="/dailysales">
            <div class="row">
                <!-- Employee Daily Entry Section (Left) -->
                <div class="col-md-5">
                    <div class="highlight-box form-box">
                        <h3>Employee Daily Entry</h3>
                        <div class="container-box">
                         
                            <div class="row">
                                <!-- Date Input -->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="date_employee">Date:</label>
                                        <input type="date" name="date" class="form-control" required>
                                    </div>
                                </div>
                                <!-- Store Selector -->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="selected_store"></label>
                                        <select name="selected_store" class="form-control" required>
                                            <option value="" disabled>Select Store</option>
                                            {% for store in user_stores %}
                                                <option value="{{ store.id }}" {% if selected_store and selected_store.id == store.id %}selected{% endif %}>{{ store.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            
                           

                            <table class="table">
                            <tbody>
                                <tr>
                                    <td><input type="text" name="name_employee" class="form-control" placeholder="Employee Name"></td>
                                    <td><input type="number" name="hours_employee" class="form-control" placeholder="Hours Worked"></td>
                                </tr>
                                <tr>
                                    <td><input type="text" name="name_employee1" class="form-control" placeholder="Employee 1 Name"></td>
                                    <td><input type="number" name="hours_employee1" class="form-control" placeholder="Hours Worked (Employee 1)"></td>
                                </tr>
                                <tr>
                                    <td><input type="text" name="name_employee2" class="form-control" placeholder="Employee 2 Name"></td>
                                    <td><input type="number" name="hours_employee2" class="form-control" placeholder="Hours Worked (Employee 2)"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- Submit Button (for the entire form) -->
                <!-- ... [other form fields] ... -->
                <div class="text-center mt-3">
                    <div class="form-check d-inline-block">
                        <input class="form-check-input" type="checkbox" name="overwrite" id="overwrite">
                        <label class="form-check-label" for="overwrite">
                            Overwrite if entry exists
                        </label>
                    </div>
                </div>
                <div class="text-center mt-3">
                    <button type="submit" class="btn btn-outline-success btn-lg">Submit Daily Entry</button>
                </div>
        </div>
        
        <!-- Add some spacing between the forms -->
        <div class="col-md-1"></div>

        <!-- Daily Sales Entry Section (Right) -->
        <div class="col-md-6">
            <div class="highlight-box form-box">
                <h3>Daily Sales Entry</h3>
                <div class="container-box">
                    <table class="table">
                            <thead>
                                <tr>
                                    <th>Shift 1</th>
                                    <th>Shift 2</th>
                                    <th>Day</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="number" name="total_sales_shift1" class="form-control" placeholder="Total Sales Shift 1"></td>
                                    <td><input type="number" name="total_sales_shift2" class="form-control" placeholder="Total Sales Shift 2"></td>
                                    <td><input type="number" name="total_sales_day" class="form-control" placeholder="Total Sales Day" readonly></td>
                                </tr>
                                <tr>
                                    <td><input type="number" name="card_total_shift1" class="form-control" placeholder="Card Total Shift 1"></td>
                                    <td><input type="number" name="card_total_shift2" class="form-control" placeholder="Card Total Shift 2"></td>
                                    <td><input type="number" name="card_total_day" class="form-control" placeholder="Card Total Day" readonly></td>
                                </tr>
                                <tr>
                                    <td><input type="number" name="drop_total_shift1" class="form-control" placeholder="Drop Total Shift 1"></td>
                                    <td><input type="number" name="drop_total_shift2" class="form-control" placeholder="Drop Total Shift 2"></td>
                                    <td><input type="number" name="drop_total_day" class="form-control" placeholder="Drop Total Day" readonly></td>
                                </tr>
                                <tr>
                                    <td><input type="number" name="lotto_payout_shift1" class="form-control" placeholder="Lotto Payout Shift 1"></td>
                                    <td><input type="number" name="lotto_payout_shift2" class="form-control" placeholder="Lotto Payout Shift 2"></td>
                                    <td><input type="number" name="lotto_payout_day" class="form-control" placeholder="Lotto Payout Day" readonly></td>
                                </tr>
                                <tr>
                                    <td><input type="number" name="payout1_shift1" class="form-control" placeholder="Payout 1 Shift 1"></td>
                                    <td><input type="number" name="payout1_shift2" class="form-control" placeholder="Payout 1 Shift 2"></td>
                                    <td><input type="number" name="payout1_day" class="form-control" placeholder="Payout 1 Day" readonly></td>
                                </tr>
                                <tr>
                                    <td><input type="number" name="payout2_shift1" class="form-control" placeholder="Payout 2 Shift 1"></td>
                                    <td><input type="number" name="payout2_shift2" class="form-control" placeholder="Payout 2 Shift 2"></td>
                                    <td><input type="number" name="payout2_day" class="form-control" placeholder="Payout 2 Day" readonly></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td><input type="number" name="over_short" class="form-control" placeholder="Over Short"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
                   
        </form>
    </div>
</body>
<script src="/static/calculate_dailysales.js"></script>

{% endblock %}
