{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="highlight-box">
                <h3>Sign Up</h3>

                <form method="POST">
                    {{ form.hidden_tag() }}  <!-- Include CSRF token -->

                    <div class="form-group">
                        {{ form.name.label(class="form-label") }}
                        {{ form.name(class="form-control") }}
                    </div>

                    <div class="form-group">
                        {{ form.email.label(class="form-label") }}
                        {{ form.email(class="form-control") }}
                    </div>

                    <div class="form-group">
                        {{ form.password.label(class="form-label") }}
                        {{ form.password(class="form-control") }}
                    </div>

                    <div class="form-group">
                        {{ form.role.label(class="form-label") }}
                        {{ form.role(class="form-control") }}
                    </div>

                    <div class="form-group">
                        {{ form.stores.label(class="form-label") }}
                        {{ form.stores(class="form-control selectpicker", multiple="multiple", **{"data-live-search": "true"}) }}
                    </div>
                    
                    

                    <!-- Add more form fields for additional user information here (e.g., address) -->

                    <button type="submit" class="btn btn-primary">Sign Up</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Include Bootstrap Select CSS and JS files -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.min.css">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>

{% endblock %}
