{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1 class="text-center mt-2 mb-4">Training Videos</h1>

    <!-- Opening Category -->
    <div class="row mb-4">
        <div class="col-md-12">
            <h3>Opening</h3>
            <iframe src="https://drive.google.com/file/d/1SXRNC5zsFnuL_uTlO2w908fZzu447bFU/preview" width="100%" height="300" frameborder="0"></iframe>
        </div>
    </div>

    <!-- Closing Category -->
    <div class="row mb-4">
        <div class="col-md-12">
            <h3>Closing</h3>
            <iframe src="https://drive.google.com/file/d/1ksplx0GZtLhiFfvfM4Wa6Lh3Ul_23xc2/preview" width="100%" height="300" frameborder="0"></iframe>
        </div>
    </div>

    <!-- Inventory Category -->
    <div class="row mb-4">
        <div class="col-md-12">
            <h3>Inventory</h3>
            <iframe src="https://drive.google.com/file/d/17PufoYj8sEvelyZQqLLEWeZ67y50W-8r/preview" width="100%" height="300" frameborder="0"></iframe>
        </div>
    </div>

    <!-- Reports Category -->
    <div class="row">
        <div class="col-md-12">
            <h3>Reports</h3>
            <iframe src="https://www.youtube.com/embed/0bfk90rWV9U" width="100%" height="300" frameborder="0"></iframe>
        </div>
    </div>
</div>
{% endblock %}
